{% extends 'base.html.twig' %}
{% block body %}
    {% if not(app.user) %}
        <h2><p>hello, this is the home page please login to create or view your tickets.</p></h2>
    {% endif %}
{% endblock %}