{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
        hello {{ app.user.username }}
        <a href="new_tickets">new ticket</a>
        <a href="view_tickets">view tickets</a>
        <a href="logout">logout</a>
    {% else %}
        <a href="register">register</a>
        <a href="login">login</a>
    {% endif %}
{% endblock %}